.nav {
    background-color:ghostwhite;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  
}

.nav li {
  display: inline;
}

.jumbotron {
 background-image:url('http://i.imgur.com/ENo3Kxx.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  }

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', Helvetica, sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #000;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: gold;
    font-size: 24px;
}

.neighborhood-guides .container>p {
    font-size: 18px;
    margin-bottom: 13px;
    color: floralwhite;
}

.neighborhood-guides .row p {
    font-size: 16;
    text-align: center;
    color: mistyrose;
    padding-top: 8px;
    box-sizing: border-box;
}

.neighborhood-guides img {
    border-radius: 5%;
    opacity:.95;
}
    